.list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  width: 320px;
  justify-content: center;
  cursor: pointer;
  color: rgb(78, 53, 8);
}

.item:hover,
.item:focus {
  transform: scale(1.01);
  transition: all 0.5s ease;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
